<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Alterar Editora
            </h2>
        </div>
    </div>

<%= render 'form', editora: @editora %>

