<div class="nested-fields">

   <div class="row" id='linha-autor'>
      
      <div class="col-lg-8 form-group">   
        <%= f.text_field :nome_autor, class: 'form-control', id: "nomefield", style: "background-color : #E1E8DC;" %>
    </div>
     <%= f.hidden_field :autor_id, :id=>"autor_idfield" %>
      <div class="col-lg-3 form-group"> 
        <%= link_to_remove_association "Remover Autor", f, class: "btn btn-primary colorprimarybtn" %>
      </div>
	</div> 

</div>

<script type="text/javascript">
    var linha_autor = document.getElementById("linha-autor");
    document.getElementById("linha-autor").setAttribute("id",Math.random().toString(26).slice(2));
    
    var text = document.getElementById("select2-autor_id_pesquisa-container").innerHTML;
    var id_autor = document.getElementById("hidden_autor_id").value;
   if (id_autor != ""){ 
      document.getElementById("nomefield").value = text;
      document.getElementById("nomefield").id = "nome1";
      document.getElementById("autor_idfield").value = id_autor;
      document.getElementById("autor_idfield").id = "autor_idfield1";
      document.getElementById("hidden_autor_id").value = "";
      $('#autor_id_pesquisa').val(null).trigger('change');
  }else{
    linha_autor.remove(); // R
  }
</script>